.row
  .col-12
    card
      template(v-slot:header)
        h5.title.d-inline LISTADO DE CLIENTES
        button.btn.btn-success.pull-right
          router-link(to="/clients/create") Agregar
      .table-responsive
        base-table(:data="clients" :columns="fields")
          template(v-slot:actions)
            button.btn.btn-secondary
              router-link(to='/clients/report')
                font-awesome-icon(icon="eye")
            button.btn.btn-warning.ml-3
              font-awesome-icon(icon="edit")
            button.btn.btn-danger.ml-3
              font-awesome-icon(icon="times")
